<div id="footer" style="position: fixed; bottom: 0px; top: auto; z-index: 999999; margin-top: 200px !important;">
    <p>
        allShare - Compartilhando arquivos
			<span class="font-grey-4">|</span>
        © Copyright 2017
    </p>
    <a href="#" class="gototop">
        <i class="fa fa-arrow-up"></i>
    </a>
</div>
</body>
</html>