<div class="row">
    <div class="col-sm-12">
        <div class="box box-color box-bordered">
            <div class="box-title">
                <h3>
                    <i class="fa fa-search"></i>
                    Search results
                </h3>
            </div>
            <div class="box-content nopadding">
                <div class="highlight-toolbar">
                    <div class="pull-left">
                        <div class="btn-toolbar">
                            <div class="btn-group">
                                <ul class="pagination pagination-custom">
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-angle-double-left"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">1</a>
                                    </li>
                                    <li class="active">
                                        <a href="#">2</a>
                                    </li>
                                    <li>
                                        <a href="#">3</a>
                                    </li>
                                    <li>
                                        <a href="#">4</a>
                                    </li>
                                    <li>
                                        <a href="#">5</a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-angle-double-right"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="btn-group">
                                <div class="dropdown">
                                    <a href="#" class="btn" data-toggle="dropdown" rel="tooltip" title="" data-original-title="Sort">Sort by
														<span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a href="#">Name</a>
                                        </li>
                                        <li>
                                            <a href="#">Date</a>
                                        </li>
                                        <li>
                                            <a href="#">Relevance</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pull-right">
                        <div class="btn-group">
                            <span>Showing results
												<strong>1-25</strong>of
												<strong>348</strong>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="search-results">
                    <ul>
                        <li>
                            <div class="thumbnail">
                                <img src="http://www.placehold.it/80" alt="">
                            </div>
                            <div class="search-info">
                                <a href="#">Lorem ipsum dolor</a>
                                <p class="url">www.loremasdasdd.com/</p>
                                <p>
                                    Lorem ipsum minim quis mollit occaecat consectetur irure. Lorem ipsum officia Excepteur ut aliqua cillum est laboris. Lorem ipsum in exercitation enim veniam exercitation consectetur. Lorem ipsum cupidatat ea culpa cupidatat sed proident officia
													consequat irure dolore Excepteur consectetur. Lorem ipsum sunt ut aliquip commodo mollit ad culpa. Lorem ipsum aliquip sit laborum reprehenderit amet et anim pariatur. Lorem ipsum Ut quis irure enim quis commodo ullamco ad qui qui ut id.
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="thumbnail">
                                <img src="http://www.placehold.it/80" alt="">
                            </div>
                            <div class="search-info">
                                <a href="#">Lorem ipsum dolor</a>
                                <p class="url">www.loremasdasdd.com/</p>
                                <p>
                                    Lorem ipsum minim quis mollit occaecat consectetur irure. Lorem ipsum officia Excepteur ut aliqua cillum est laboris. Lorem ipsum in exercitation enim veniam exercitation consectetur. Lorem ipsum cupidatat ea culpa cupidatat sed proident officia
													consequat irure dolore Excepteur consectetur. Lorem ipsum sunt ut aliquip commodo mollit ad culpa. Lorem ipsum aliquip sit laborum reprehenderit amet et anim pariatur. Lorem ipsum Ut quis irure enim quis commodo ullamco ad qui qui ut id.
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="thumbnail">
                                <img src="http://www.placehold.it/80" alt="">
                            </div>
                            <div class="search-info">
                                <a href="#">Lorem ipsum dolor</a>
                                <p class="url">www.loremasdasdd.com/</p>
                                <p>
                                    Lorem ipsum minim quis mollit occaecat consectetur irure. Lorem ipsum officia Excepteur ut aliqua cillum est laboris. Lorem ipsum in exercitation enim veniam exercitation consectetur. Lorem ipsum cupidatat ea culpa cupidatat sed proident officia
													consequat irure dolore Excepteur consectetur. Lorem ipsum sunt ut aliquip commodo mollit ad culpa. Lorem ipsum aliquip sit laborum reprehenderit amet et anim pariatur. Lorem ipsum Ut quis irure enim quis commodo ullamco ad qui qui ut id.
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="thumbnail">
                                <img src="http://www.placehold.it/80" alt="">
                            </div>
                            <div class="search-info">
                                <a href="#">Lorem ipsum dolor</a>
                                <p class="url">www.loremasdasdd.com/</p>
                                <p>
                                    Lorem ipsum minim quis mollit occaecat consectetur irure. Lorem ipsum officia Excepteur ut aliqua cillum est laboris. Lorem ipsum in exercitation enim veniam exercitation consectetur. Lorem ipsum cupidatat ea culpa cupidatat sed proident officia
													consequat irure dolore Excepteur consectetur. Lorem ipsum sunt ut aliquip commodo mollit ad culpa. Lorem ipsum aliquip sit laborum reprehenderit amet et anim pariatur. Lorem ipsum Ut quis irure enim quis commodo ullamco ad qui qui ut id.
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="thumbnail">
                                <img src="http://www.placehold.it/80" alt="">
                            </div>
                            <div class="search-info">
                                <a href="#">Lorem ipsum dolor</a>
                                <p class="url">www.loremasdasdd.com/</p>
                                <p>
                                    Lorem ipsum minim quis mollit occaecat consectetur irure. Lorem ipsum officia Excepteur ut aliqua cillum est laboris. Lorem ipsum in exercitation enim veniam exercitation consectetur. Lorem ipsum cupidatat ea culpa cupidatat sed proident officia
													consequat irure dolore Excepteur consectetur. Lorem ipsum sunt ut aliquip commodo mollit ad culpa. Lorem ipsum aliquip sit laborum reprehenderit amet et anim pariatur. Lorem ipsum Ut quis irure enim quis commodo ullamco ad qui qui ut id.
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="thumbnail">
                                <img src="http://www.placehold.it/80" alt="">
                            </div>
                            <div class="search-info">
                                <a href="#">Lorem ipsum dolor</a>
                                <p class="url">www.loremasdasdd.com/</p>
                                <p>
                                    Lorem ipsum minim quis mollit occaecat consectetur irure. Lorem ipsum officia Excepteur ut aliqua cillum est laboris. Lorem ipsum in exercitation enim veniam exercitation consectetur. Lorem ipsum cupidatat ea culpa cupidatat sed proident officia
													consequat irure dolore Excepteur consectetur. Lorem ipsum sunt ut aliquip commodo mollit ad culpa. Lorem ipsum aliquip sit laborum reprehenderit amet et anim pariatur. Lorem ipsum Ut quis irure enim quis commodo ullamco ad qui qui ut id.
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="highlight-toolbar bottom">
                    <div class="pull-left">
                        <div class="btn-toolbar">
                            <div class="btn-group">
                                <ul class="pagination pagination-custom">
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-angle-double-left"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">1</a>
                                    </li>
                                    <li class="active">
                                        <a href="#">2</a>
                                    </li>
                                    <li>
                                        <a href="#">3</a>
                                    </li>
                                    <li>
                                        <a href="#">4</a>
                                    </li>
                                    <li>
                                        <a href="#">5</a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-angle-double-right"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="btn-group">
                                <div class="dropdown">
                                    <a href="#" class="btn" data-toggle="dropdown" rel="tooltip" title="" data-original-title="Sort">Sort by
														<span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a href="#">Name</a>
                                        </li>
                                        <li>
                                            <a href="#">Date</a>
                                        </li>
                                        <li>
                                            <a href="#">Relevance</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pull-right">
                        <div class="btn-group">
                            <span>Showing results
												<strong>1-25</strong>of
												<strong>348</strong>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
